.grid1{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    gap: 20px;
    margin-right: 30px;
}
img{
    width: 100%;
    height: 100%;
    border: 3px solid;
}
.paragraph{
    width: 100%;
    height: 100%;
    border: 3px solid;
    text-align: center;
    font-size: 3em;
}
.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    margin-right: 30px;
    margin-top: 20px;
}
.paragraph{
    grid-column: 1;
    grid-row: 1;
}
.img1{
    grid-column: 2;
    grid-row: 1;
}
.img2{
    grid-column: 1;
    grid-row: 1;
}
.img3{
    grid-column: 2;
    grid-row: 1;
}
.img4{
    grid-column: 3/5;
    grid-row: 1/3;
}
.img5{
    grid-column: 5;
    grid-row: 1;
}
.img6{
    grid-column: 1/3;
    grid-row: 2;
}
.img7{
    grid-column: 5;
    grid-row: 2;
}
.img8{
    grid-column: 1;
    grid-row: 3;
}
.img9{
    grid-column: 2;
    grid-row: 3;
}
.img10{
    grid-column: 3/6;
    grid-row: 3;
}
